<?xml version="1.0" encoding="UTF-8"?>
<!-- By default, Spring Boot comes with Logback, this is a good start for a logging 
framework, so we're still going to use it here -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="DEBUG"/>
</configuration>