<!doctype html>
<html lang="en" data-ng-app="starter">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BridgePhase Java Starter Project</title>

<script src="/javastarter/webjars/angularjs/1.4.0-rc.1/angular.min.js"></script>
<script src="/javastarter/webjars/angular-ui-router/0.2.14/release/angular-ui-router.min.js"></script>
<script src="/javastarter/modules/starter.js"></script>
<link rel="stylesheet" type="text/css" href="/javastarter/styles/pure-min.css" />
<link rel="stylesheet" type="text/css" href="/javastarter/styles/bridgephase.css" />
</head>
<body class="bp">
	<div class="home-menu pure-menu pure-menu-horizontal">
		<a href="#" class="pure-menu-heading"> <img alt="BridgePhase" title="BridgePhase logo" src="/javastarter/images/logo.png" />
		</a>
	</div>
	<div class="banner">
		<h1>BridgePhase Java Web Application Starter Project Blab</h1>
		<p class="subtitle">Getting off the ground fast and easy!</p>
	</div>
	<div class="section">
		<p>
			This project serves as a starting step to create a AngularJS web application with a Java Spring backend. The
			front-end is styled using the <a href="http://purecss.io">Pure CSS</a> framework. Pure provides easy to use class
			definitions that require little-to-no forced markup.
		</p>
		<p>
			This page is mapped by the <code>HelloWorldController.hello()</code> method to the view <code>"home"</code>. This
			view is located under the <code>/src/main/resources/public/views</code> directory. All views should go under this directory.
			The configuration for these settings is under the <code>/src/main/resources/application.properties</code> file. 
		</p>
		<p>
			The menu below shows AngularJS routing using the <a href="https://github.com/angular-ui/ui-router">AngularUI Router</a>.
			Use the AngularUI Router for your routing needs, it offers more features than the default provided <code>ng-route</code>.
		</p>
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a data-ui-sref="home" class="pure-menu-link">Home</a></li>
			<li class="pure-menu-item"><a data-ui-sref="about" class="pure-menu-link">About</a></li>
		</ul>
	</div>
	<div class="section" data-ui-view></div>
	
	<!-- Now with more configurations!!! -->
</body>
</html>
